<%= form_with(model: act_numing, local: true) do |form| %>
  <% if act_numing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(act_numing.errors.count, "error") %> prohibited this act_numing from being saved:</h2>

      <ul>
      <% act_numing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
