<%= form_with(model: cont_naming, local: true) do |form| %>
  <% if cont_naming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cont_naming.errors.count, "error") %> prohibited this cont_naming from being saved:</h2>

      <ul>
      <% cont_naming.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
